@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Pacifico&family=Roboto+Condensed:wght@700&family=Sevillana&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 32, 79);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Tesla_Motors.svg/1587px-Tesla_Motors.svg.png");
    background-size: cover;
  
}

.container{
    border: 10px solid black;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.heading{
    text-align: center;
    font-family: 'Bakbak One', cursive;
    font-size: 2.5rem;
    color: white;
    background-color: rgb(13, 13, 13);
}

.img_elon{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin:20px auto;
    border-radius: 30%;
    border: 4px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_tesla{
    margin:auto;
    object-fit: contain;
    width: 300px;  
    padding: 30px;
}

.img_spacex{
    margin:auto;
    object-fit: contain;
    width: 400px;  
    padding: 30px;
    
}

.img_section{
    display: grid;
    grid-template-columns: 500px 500px 400px;
    background-color: rgb(219, 210, 188);
    border: 2px solid black;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content{
    padding: 20px;
    background-color: antiquewhite;
    font-family: 'Roboto Condensed', sans-serif;
    border: 2px solid black;
}

.con1{
    font-family: 'Bakbak One', cursive;

}

.con2{
   margin: 12px 0;
   font-size: 1.4rem;
}

@media (max-width:952px){
    .img_section{
        display: flex;
        flex-direction: column;
    }

    .img_spacex{
        margin: 100px 50px;
    }
}